{% extends "base.twig" %}

{% block content %}
    {% for show in shows %}
        <div class="col-md-3 col-sm-6">
            <a href="/film/show/{{show.id}}">
                <h2>{{show.nom}}</h2>
                <img style="width: 100%;" src="{{show.image}}">
            </a>
        </div>
    {% endfor %}
    {% for i in 0 .. pages %}
        <a style="margin: 3px;" class="btn btn-success" href="/?page={{i}}{% if query is defined and query %}&query={{query}}{% endif %}{% if categ_id is defined and categ_id %}&categ_id={{categ_id}}{% endif %}">{{i}}<a/>
    {% endfor %}
{% endblock %}